{% extends "base.html" %}

{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block head %}
    <style>
        .variable-button {
            margin-right: 5px;
            display: inline-block;
        }
        .cke_button__insertvariable_label {
            background-color: green !important;
            color: #fff !important;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Edit Template: {{ template_name }}</h2>

            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="mt-4">
                {% for category, message in messages %}
                <div class="alert alert-{{ 'success' if category == 'success' else 'warning' }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            
            <!-- This is the div where flash messages from AJAX operations will go -->
            <div id="flash-messages"></div>
          
            <!-- Detailed editing view -->
            <div id="template-details" class="mt-4">
                <!-- Tab links -->
                <ul class="nav nav-tabs" id="editTemplateTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="edit-template-tab" data-toggle="tab" href="#template" role="tab" aria-controls="template" aria-selected="true">Template</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="edit-variables-tab" data-toggle="tab" href="#variables" role="tab" aria-controls="variables" aria-selected="false">Variables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="publish-tab" data-toggle="tab" href="#publish" role="tab" aria-controls="publish" aria-selected="false">Publish</a>
                    </li>
                </ul>

                <!-- Tab content -->
                <div class="tab-content mt-4">
                    <div class="tab-pane fade show active" id="template" role="tabpanel">
                        <form id="update_template_form" action="/update_template" method="post">
                            <input type="hidden" name="template_id" id="template_id" value="{{ template_id }}">
                            <div class="form-group">
                                <label for="template_name">Template Name:</label>
                                <input type="text" id="template_name" name="template_name" class="form-control" value="{{ template_name }}">
                            </div>
                            <div class="form-group">
                                <label for="template_content">Template Content:</label>
                                <textarea name="template_content" id="template_content" class="form-control">{{ template_content }}</textarea>
                            </div>
                            <input type="submit" name="update_template" value="Update template" class="btn btn-primary">
                        </form>
                    </div>
                    <div class="tab-pane fade" id="variables" role="tabpanel">
                        <h4>Existing Variables:</h4>
                        <div>
                            {% for variable in variables %}
                                <span class="variable-button btn btn-light">{{ variable }}
                                    <button type="button" class="btn text-danger btn-sm delete-variable" data-variable="{{ variable }}">X</button>
                                </span>
                            {% endfor %}
                        </div>
                       <!-- Updated Add New Variable form in edit_template.html -->
                      <h4 class="mt-4">Add New Variable:</h4>
                      <form action="/edit_template/{{ template_id }}" method="post" id="add_variable_form">
                          <input type="hidden" name="template_id" value="{{ template_id }}">
                          <div class="form-group">
                              <input type="text" id="variable_name" name="variable_name" class="form-control" placeholder="Enter variable e.g. [name]" style="max-width:400px;">
                          </div><br><br>
                          <input type="submit" name="add_variable" value="Add Variable" class="btn btn-secondary">
                      </form>
                      
                
                </div>

                <div class="tab-pane fade" id="publish" role="tabpanel">
                    <h4>Publish your template on WordPress!</h4>


                {% if user_db.connection_status == 'connected' %}
                    <button class="btn btn-success">Connected to {{ user_db.wp_url|replace("http://", "")|replace("https://", "")|replace("/", "") }}</button>
                {% else %}
                    <button class="btn btn-secondary">Not Connected</button>
                {% endif %}

                  
                <!-- WordPress Connection Form -->
                <form action="{{ url_for('edit_template', template_id=template_id) }}" method="post" class="mt-4">
                    <div class="form-group">
                        <label for="wp_url">WordPress URL:</label>
                        <input type="text" name="wp_url" id="wp_url" class="form-control" style="max-width:400px" placeholder="WordPress URL" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="wp_user">WordPress Username:</label>
                        <input type="text" name="wp_user" id="wp_user" class="form-control" style="max-width:400px" placeholder="WordPress Username" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <label for="wp_app_password">Application Password:</label>
                        <input type="password" name="wp_app_password" id="wp_app_password" class="form-control" style="max-width:400px" placeholder="Application Password" required>
                    </div>
                    <br>
                    <button type="submit" name="connect_wp" class="btn btn-primary">Connect to WordPress</button>
                </form>
                <!-- End of WordPress Connection Form -->
                  </div>
                </div>
                  
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        // Function to update CKEditor variable list
        function updateCKEditorVariableList(variables) {
            var richCombo = CKEDITOR.instances.template_content.ui.get('InsertVariable');
            richCombo.startGroup( "Variables" );  // This is important to initiate the group
            var panel = richCombo._.panel._.iframe.$.contentWindow.richCombo;
            
            // Clear the panel
            while (panel.firstChild) {
                panel.removeChild(panel.firstChild);
            }
            
            // Add new items
            for (var i = 0; i < variables.length; i++) {
                richCombo.add(variables[i], variables[i], variables[i]);
            }
        }

        // Initialize CKEditor
        CKEDITOR.replace('template_content', {
            removePlugins: 'exportpdf',
            extraPlugins: 'insertVariable',
            toolbar: [
                ['InsertVariable'],
                ['Bold', 'Italic', 'Underline', 'Strike'],
                ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'],
                ['Font', 'FontSize', 'TextColor', 'BGColor'],
                ['Undo', 'Redo']
            ]
        });

        // Custom CKEditor Plugin for inserting variables
        CKEDITOR.plugins.add('insertVariable', {
            init: function(editor) {
                editor.ui.addRichCombo('InsertVariable', {
                    className: 'cke_button__insertvariable_label',
                    label: '+ Variable',
                    title: '+ Add variable',
                    toolbar: 'insert',
                    panel: {
                        css: [ CKEDITOR.skin.getPath('editor') ].concat(editor.config.contentsCss),
                        multiSelect: false,
                        attributes: { 'aria-label': 'Variables' }
                    },
                    init: function() {
                        var variables = {{ variables|tojson }};
                        for(var i = 0; i < variables.length; i++) {
                            this.add(variables[i], variables[i], variables[i]);
                        }
                    },
                    onClick: function(value) {
                        editor.insertText(value);
                    }
                });
            }
        });

        // AJAX call to add a variable


      // Function to reload CKEditor with new variables
      function reloadCKEditorWithVariables(variables) {
          if (CKEDITOR.instances.template_content) {
              CKEDITOR.instances.template_content.destroy(true);
          }
      
          CKEDITOR.replace('template_content', {
              removePlugins: 'exportpdf',
              extraPlugins: 'insertVariable',
              toolbar: [
                  ['InsertVariable'],
                  ['Bold', 'Italic', 'Underline', 'Strike'],
                  ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'],
                  ['Font', 'FontSize', 'TextColor', 'BGColor'],
                  ['Undo', 'Redo']
              ]
          });
      
          CKEDITOR.on('instanceReady', function(ev) {
              var editor = ev.editor;
              editor.ui.addRichCombo('InsertVariable', {
                  className: 'cke_button__insertvariable_label',
                  label: '+ Variable',
                  title: '+ Add variable',
                  toolbar: 'insert',
                  panel: {
                      css: [ CKEDITOR.skin.getPath('editor') ].concat(editor.config.contentsCss),
                      multiSelect: false,
                      attributes: { 'aria-label': 'Variables' }
                  },
                  init: function() {
                      for (var i = 0; i < variables.length; i++) {
                          this.add(variables[i], variables[i], variables[i]);
                      }
                  },
                  onClick: function(value) {
                      editor.insertText(value);
                  }
              });
          });
      }

        // Your existing AJAX code for deleting a variable
        $(document).on('click', '.delete-variable', function() {
            let variableToDelete = $(this).data('variable');
            var templateID = $("#template_id").val();
        
            $.ajax({
                url: '/delete_variable',
                type: 'POST',
                data: { variable_name: variableToDelete, template_id: templateID },
                success: function(response) {
                    if (response.status === 'success') {
                        $('span.variable-button:contains(' + variableToDelete + ')').remove();
                        var currentVariables = {{ variables|tojson }};
                        var index = currentVariables.indexOf(variableToDelete);
                        if (index > -1) {
                            currentVariables.splice(index, 1);
                        }
                        reloadCKEditorWithVariables(currentVariables);
                    } else {
                        console.error("Failed to delete variable:", response.message);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error("AJAX Error:", textStatus, errorThrown);
                }
            });
        });


        // Local storage for tab persistence
        let activeTab = localStorage.getItem('activeTab');
        if(activeTab){
            $('.nav-tabs a[href="' + activeTab + '"]').tab('show');
        }

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
    });




      function verifyWPConnection() {
        fetch('/verify_wp_connection')
        .then(response => response.json())
        .then(data => {
            let button = document.getElementById('connectionStatus');
            if (data.status === 'connected') {
                button.className = 'btn btn-success';
            } else if (data.status === 'no_credentials') {
                button.className = 'btn btn-warning';
            } else {
                button.className = 'btn btn-danger';
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    $('#editTemplateTabs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        if (e.target.getAttribute('aria-controls') === 'publish') {
            verifyWPConnection();
        }
    });
</script>
{% endblock %}