{% extends "base.html" %}

{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block head %}
    <style>
        .variable-button {
            margin-right: 5px;
            display: inline-block;
        }

        #title_variable_dropdown option:not(:disabled) {
            background-color: white !important;
            color: #000;
        }
      
        #title_variable_dropdown:hover, .variable-dropdown:hover {
            background-color: #212529 !important;          
        }

        .variable-dropdown option:first-child {
            display: none;
        }
    </style>

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Edit Template: {{ template_name }}</h2>
            
            <!-- Flash Message Section Start -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="mt-3">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            
            <!-- This is the div where flash messages from AJAX operations will go -->
            <div id="flash-messages"></div>
          
            <!-- Detailed editing view -->
            <div id="template-details" class="mt-4">
                <!-- Tab links -->
                <ul class="nav nav-tabs" id="editTemplateTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="edit-template-tab" data-toggle="tab" href="#template" role="tab" aria-controls="template" aria-selected="true">Template</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="edit-variables-tab" data-toggle="tab" href="#variables" role="tab" aria-controls="variables" aria-selected="false">Variables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="publish-tab" data-toggle="tab" href="#publish" role="tab" aria-controls="publish" aria-selected="false">Publish</a>
                    </li>
                </ul>

                <!-- Tab content -->
                <div class="tab-content mt-4">
                    <div class="tab-pane fade show active" id="template" role="tabpanel">
                        <form id="update_template_form" action="/update_template" method="post">
                            <input type="hidden" name="template_id" id="template_id" value="{{ template_id }}">
                          
                            <div class="form-group d-flex align-items-end">
                                <div style="margin-right: 10px;">
                                    <label for="title_variable_dropdown" class="d-none">Variable</label> <!-- Hidden label -->
                                    <select id="title_variable_dropdown" class="variable-dropdown btn btn-success" style="width: 120px; height: 38px; color: white; text-align: left;">
                                        <option disabled selected style="text-align: center; background-color: green; color: white;">+Variable</option>
                                    </select>
                                </div>
                              
                            <div class="flex-grow-1">
                                <label for="template_name">Template Name:</label>
                                <input type="text" id="template_name" name="template_name" class="form-control" value="{{ template_name }}">
                            </div>
                            </div>

                            <div class="form-group mt-3">
                                <label for="template_content">Template Content:</label>
                                <div id="template_content" style="height: 400px;"></div>

                                <!-- Hidden textarea to store Quill's content in HTML -->
                                <textarea name="hidden_template_content" id="hidden_template_content" style="display:none;"></textarea>
                            </div>
                            <button type="submit" name="update_template" class="btn btn-dark mt-4">Update Template</button>

                        </form>
                    </div>
                    <div class="tab-pane fade" id="variables" role="tabpanel">
                      <h4>Existing Variables:</h4>
                      <div id="container_for_existing_variables">
                          {% for variable in variables %}
                              <span class="variable-button btn btn-warning">
                                  <span>{{ variable }}</span>
                                  <button type="button" class="btn text-danger btn-sm delete-variable" data-variable="{{ variable }}">X</button>
                              </span>
                          {% endfor %}
                      </div>

                      <!-- Updated Add New Variable form in edit_template.html -->
                      <h4 class="mt-4">Add New Variable:</h4>
                      <form id="add_variable_form">
                          <input type="hidden" name="template_id" value="{{ template_id }}">
                          <div class="form-group">
                              <input type="text" id="variable_name" name="variable_name" class="form-control" placeholder="Enter variable e.g. [name]" style="max-width:400px;">
                          </div>
                          <button type="button" id="add_variable_button" class="btn btn-dark mt-3">Add Variable</button>
                      </form>     
                </div>

                <div class="tab-pane fade" id="publish" role="tabpanel">
                    <h4>Status</h4>

                {% if user_db.connection_status == 'connected' %}
                    <button class="btn btn-success">Connected to {{ user_db.wp_url|replace("http://", "")|replace("https://", "")|replace("/", "") }}</button>
                {% else %}
                    <button class="btn btn-secondary">Not Connected</button>
                {% endif %}

                {% if user_db.connection_status == 'connected' %}
                    <h4 class="mt-4">Connect to another WordPress website</h4>
                {% else %}
                    <h4 class="mt-4">Connect to your WordPress website</h4>
                {% endif %}

                  
                <!-- WordPress Connection Form -->
                <form action="{{ url_for('edit_template_wp_auth', template_id=template_id) }}" method="post" class="form-inline mt-3">
                    <div class="form-group mb-2">
                        <input type="text" class="form-control" name="base_url" placeholder="Enter WordPress URL" style="max-width: 400px">
                    </div>
                    <button type="submit" class="btn btn-dark mt-1">Grant Access</button>
                </form>


                    <h4 class="mt-4">Publish your template on WordPress!</h4>

                    <div class="tab-pane fade show active" id="publish" role="tabpanel" aria-labelledby="publish-tab">
                        <form action="{{ url_for('edit_template', template_id=template_id) }}" method="post" class="p-1">
                            <div class="form-group">
                                <label for="publish_type" class="mb-1">Publish content as:</label>
                                <select class="form-control" id="publish_type" name="publish_type" style="max-width: 400px">
                                    <option value="posts">Post</option>
                                    <option value="pages">Page</option>
                                </select>
                            </div>
                            <div class="form-group mt-3">
                                <label for="wp_status" class="mb-1">Publish with status:</label>
                                <select class="form-control" id="wp_status" name="wp_status" style="max-width: 400px">
                                    <option value="publish">Publish</option>
                                    <option value="draft">Draft</option>
                                    <option value="pending">Pending</option>
                                    <option value="private">Private</option>
                                </select>
                            </div>
                            <button type="submit" name="publish_wp" class="btn btn-dark mt-2">Publish</button>
                        </form>
                    </div>
                </div>

                  </div>
                </div>
                  
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    $(document).ready(function() {
        var toolbarOptions = [
            ['bold', 'italic'],
            ['link', 'blockquote', 'code-block', 'image'],
            [{ list: 'ordered' }, { list: 'bullet' }],
            [{ 'align': [] }]
        ];

        var quill = new Quill('#template_content', {
            theme: 'snow',
            modules: {
                toolbar: toolbarOptions
            }
        });

        var toolbar = quill.getModule('toolbar');

        quill.clipboard.dangerouslyPasteHTML(`{{ template_content|safe }}`);

        var variableDropdown = document.createElement('select');
        variableDropdown.className = 'variable-dropdown btn btn-success';
        variableDropdown.style.width = '120px'; // Set the width to 175px
        variableDropdown.style.marginRight = '15px';  // Add right margin
        variableDropdown.style.textAlignLast = 'left'; // Align text to the left
        variableDropdown.innerHTML = '<option disabled selected style="background-color: white; color: black; text-align: left;">+Variable</option>';
        {% for variable in variables %}
            variableDropdown.innerHTML += `<option value="{{ variable }}" style="background-color: white; color: black; text-align: left;">{{ variable }}</option>`;
        {% endfor %}

        if (variableDropdown && toolbar) {
            variableDropdown.addEventListener('change', function() {
                let selectedVariable = this.value.trim(); // Trim the variable
                selectedVariable = '[' + selectedVariable + ']'; // Add square brackets explicitly
        
                // Focus the Quill editor before getting the selection
                quill.focus();
        
                let selection = quill.getSelection();
                
                // Check if selection exists
                if (selection) {
                    let cursorPosition = selection.index;
            
                    // Insert the variable
                    quill.insertText(cursorPosition, selectedVariable);
            
                    // Move the cursor to the end of the inserted variable
                    quill.setSelection(cursorPosition + selectedVariable.length);
                }
                
                this.selectedIndex = 0;  // Reset dropdown to default state
            });
        
            toolbar.container.prepend(variableDropdown);
        }




        var $dropdown = $('#title_variable_dropdown');
        {% for variable in variables %}
            $dropdown.append(new Option("{{ variable }}", "{{ variable }}"));
        {% endfor %}

        $('#title_variable_dropdown').change(function() {
            let selectedVariable = $(this).val().trim();  // Trim the selected variable
            let currentTitle = $('#template_name').val();
            $('#template_name').val(currentTitle + '[' + selectedVariable + ']');  // Add square brackets explicitly
            $(this).prop('selectedIndex', 0);
        });

        $(document).on('click', '.delete-variable', function() {
            let variableToDelete = $(this).attr('data-variable');
            let templateID = $("#template_id").val();
            $.ajax({
                url: '/delete_variable',
                type: 'POST',
                data: { variable_name: variableToDelete, template_id: templateID },
                success: function(response) {
                    if (response.status === 'success') {
                        // Remove the variable from the DOM
                        $(`.delete-variable[data-variable='${variableToDelete}']`).parent().remove();
                        
                        // Success flash message for deletion
                        let flashMessage = $('<div>').addClass('alert alert-success').text('Variable deleted successfully.');
                        $('#flash-messages').append(flashMessage);
                    } else {
                        // Error flash message
                        let flashMessage = $('<div>').addClass('alert alert-danger').text('Failed to delete variable.');
                        $('#flash-messages').append(flashMessage);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status === 400) {
                        let response = JSON.parse(jqXHR.responseText);
                        let flashMessage = $('<div>').addClass('alert alert-warning').text(response.message);
                        $('#flash-messages').append(flashMessage);
                    } else {
                        let flashMessage = $('<div>').addClass('alert alert-danger').text('An error occurred while trying to add the variable.');
                        $('#flash-messages').append(flashMessage);
                    }
                }
            });
        });


        let activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            $('.nav-tabs a[href="' + activeTab + '"]').tab('show');
        }
        $('a[data-toggle="tab"]').on('shown.bs.tab', function(e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });

        function verifyWPConnection() {
            fetch('/verify_wp_connection')
            .then(response => response.json())
            .then(data => {
                let button = document.getElementById('connectionStatus');
                if (button !== null) {
                    if (data.status === 'connected') {
                        button.className = 'btn btn-success';
                    } else if (data.status === 'no_credentials') {
                        button.className = 'btn btn-warning';
                    } else {
                        button.className = 'btn btn-danger';
                    }
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }


        $('#editTemplateTabs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            if (e.target.getAttribute('aria-controls') === 'publish') {
                verifyWPConnection();
            }
        });



        $('#update_template_form').on('submit', function() {
            var quillHtml = quill.root.innerHTML;
            console.log("Quill HTML before form submit:", quillHtml);
            $('#hidden_template_content').val(quillHtml);
            console.log("hidden_template_content after form submit:", $('#hidden_template_content').val());
        });


      
        // Add this code for adding variables via AJAX
        $('#add_variable_button').click(function(event) {
            event.preventDefault(); // Prevent the form from submitting normally
            let variableToAdd = $('#variable_name').val().trim().replace(/ +/g, '_'); // Trim and replace only spaces between words with underscores
            let templateID = $("#template_id").val();
      
            // Validate variable name for special characters
            let regex = /^[a-zA-Z0-9_]+$/;
            if (!regex.test(variableToAdd)) {
                let flashMessage = $('<div>').addClass('alert alert-warning').text('Special characters or empty variables are not allowed. You can use underscores to_separate_words.');
                $('#flash-messages').append(flashMessage);
                return false; // Prevent form submission
            }
            
            $.ajax({
                url: '/add_variable',
                type: 'POST',
                data: { variable_name: variableToAdd, template_id: templateID },
                success: function(response) {
                    if (response.status === 'success') {
                        // Code for adding variable and clearing input
                        let newVariableSpan = $('<span>').addClass('variable-button btn btn-warning').text(`[${variableToAdd}]`);
                        let newDeleteButton = $('<button>').attr('type', 'button').addClass('btn text-danger btn-sm delete-variable').attr('data-variable', variableToAdd).text('X');
                        newVariableSpan.append(newDeleteButton);
                        $('#container_for_existing_variables').append(newVariableSpan);
                        $('#variable_name').val('');
                        
                        // Success flash message
                        let flashMessage = $('<div>').addClass('alert alert-success').text('Variable added successfully.');
                        $('#flash-messages').append(flashMessage);
                    } else if (response.status === 'duplicate') {
                        let flashMessage = $('<div>').addClass('alert alert-warning').text('This variable already exists.');
                        $('#flash-messages').append(flashMessage);
                    } else {
                        // Error flash message
                        let flashMessage = $('<div>').addClass('alert alert-danger').text('Failed to add variable.');
                        $('#flash-messages').append(flashMessage);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    if (jqXHR.status === 400) {
                        let response = JSON.parse(jqXHR.responseText);
                        let flashMessage = $('<div>').addClass('alert alert-warning').text(response.message);
                        $('#flash-messages').append(flashMessage);
                    } else {
                        let flashMessage = $('<div>').addClass('alert alert-danger').text('An unexpected error occurred.');
                        $('#flash-messages').append(flashMessage);
                    }
                }
            });
        });
      
        // Listen for the 'keypress' event on the input field
        $('#variable_name').keypress(function(event) {
            if (event.which === 13) { // 13 is the keyCode for the Enter key
                event.preventDefault(); // Prevent default form submission
                $('#add_variable_button').click(); // Programmatically click the "Add Variable" button
            }
        });

      // Clear and repopulate the dropdowns when switching tabs
      $('#editTemplateTabs a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
          if (e.target.getAttribute('aria-controls') === 'template') {
              // Clear and repopulate the dropdowns
              $('#title_variable_dropdown').find('option:not(:first)').remove();
              $(variableDropdown).find('option:not(:first)').remove();
              $('#container_for_existing_variables .variable-button').each(function() {
                  let variableName = $(this).text().replace('X', '').replace(/[\[\]]/g, '');  // Remove the 'X' and brackets from the span text
                  // Explicitly include square brackets
                  let newOption = new Option("[" + variableName + "]", variableName);
                  $('#title_variable_dropdown').append($(newOption).clone());  // For title
                  $(variableDropdown).append(newOption.cloneNode(true));  // For Quill toolbar
              });
          }
      });

      
      if (document.getElementById("grantAccess")) {
          document.getElementById("grantAccess").addEventListener("click", function(){
              const wpUrl = document.getElementById("wpUrl").value;
              if (wpUrl) {
                  window.location.href = `/grant_access?wp_url=${encodeURIComponent(wpUrl)}`;
              } else {
                  alert("Please enter a WordPress URL.");
              }
          });
      }
   
    });
</script>
{% endblock %}