{% extends "base.html" %}

{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block head %}
    <style>
        .variable-button {
            margin-right: 5px;
            display: inline-block;
        }

        .cke_button__insertvariable_label {
            background-color: green !important;
            color: #fff !important;
        }

        .template-card {
            cursor: pointer;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Your templates</h2>

            <!-- Template cards view -->
            <div id="template-cards" class="row mt-4">
                {% for template in templates %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card template-card" data-template-id="{{ template.id }}" 
     data-template-name="{{ template.template_name }}" 
     data-template-content="{{ template.template_content }}"
     data-template-variables="{{ template.variables|join(",") }}">

                        <div class="card-body">
                            <h5 class="card-title">{{ template.template_name }}</h5>
                            <p class="card-text">{{ template.template_content|strip_tags|truncate(100, True) }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ url_for('edit_template', template_id=your_template_id) }}">Edit</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Detailed editing view (initially hidden) -->
            <div id="template-details" class="mt-4" style="display: none;">
                <!-- Tab links -->
                <ul class="nav nav-tabs mt-4" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="template-tab" data-toggle="tab" href="#template" role="tab">Template</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="variables-tab" data-toggle="tab" href="#variables" role="tab">Variables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="publish-tab" data-toggle="tab" href="#publish" role="tab">Publish</a>
                    </li>
                </ul>

                <!-- Tab content -->
                <div class="tab-content mt-4">
                    <div class="tab-pane fade show active" id="template" role="tabpanel">
                        <div class="template-form-toolbar"></div>
                        <form action="/update_template" method="post">
                            <div class="form-group">
                                <label for="template_name">Template Name:</label>
                                <input type="text" id="template_name" name="template_name" class="form-control" value="{{ template_name }}">
                            </div>

                            <div class="form-group">
                                <label for="template_content">Template Content:</label>
                                <textarea name="template_content" id="template_content" class="form-control">{{ saved_content|default('') }}</textarea>
                                <input type="hidden" name="template_id" id="template_id" value="">
                            </div>

                            <input type="submit" name="update_template" value="Update template" class="btn btn-primary">
                        </form>
                    </div>

                    <div class="tab-pane fade" id="variables" role="tabpanel">
                        <h4>Existing Variables:</h4>
                        
                        <!-- Debug Line -->
                        <p>DEBUG: {{ variables }}</p>
                        
                        <div>
                         {% for variable in variables %}
                            {% if variable %}
                                <span class="variable-button btn btn-light">{{ variable }} 
                                 <form style="display: inline;" action="/delete_variable" method="post">
                                  <button type="submit" name="delete_variable" value="{{ variable }}" class="btn text-danger btn-sm">X</button>
                                    </form>
                                </span>
                            {% endif %}
                        {% endfor %}
                        </div>

                        <h4 class="mt-4">Add New Variable:</h4>
                        <form action="/edit_template" method="post" name="add_variable_form">
                            <div class="form-group">
                                <input type="text" name="variable_name" class="form-control" placeholder="Enter variable e.g. [name]">
                            </div>
                            <input type="submit" name="add_variable" value="Add Variable" class="btn btn-secondary">
                        </form>
                    </div>

                    <div class="tab-pane fade" id="publish" role="tabpanel">
                        <!-- Content for Publish tab -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>
{% endblock %}

{% block scripts %}
<script>
$(document).ready(function(){

    // Using event delegation for template-card
    $(document).on('click', '.template-card', function() {
        console.log("Card clicked"); // Debugging line

        let templateId = $(this).data('template-id');
        
        $.ajax({
            url: '/get_template_data',
            type: 'GET',
            data: {template_id: templateId},
            success: function(response) {
                // Populate the form fields
                $('#template_name').val(response.template_name);
                $('#template_id').val(templateId);

                // Check if CKEditor has been instantiated and then set its data
                if (CKEDITOR.instances.template_content) {
                    CKEDITOR.instances.template_content.setData(response.template_content);
                } else {
                    // If CKEditor isn't instantiated yet, just set the textarea value
                    $('#template_content').val(response.template_content);
                }

                // Clear the current variables and repopulate
                let variableContainer = $('#variables').find('div:first');
                variableContainer.html('');
                response.template_variables.forEach(function(variable) {
                    let variableHTML = `
                    <span class="variable-button btn btn-light">${variable} 
                        <form style="display: inline;" action="/delete_variable" method="post">
                            <button type="submit" name="delete_variable" value="${variable}" class="btn text-danger btn-sm">X</button>
                        </form>
                    </span>
                    `;
                    variableContainer.append(variableHTML);
                });

                $('#template-cards').hide();
                $('#template-data').show();
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("AJAX Error:", textStatus, errorThrown); // This line logs any errors in the AJAX call
            }
        });
    });

    // Delete variable using AJAX
    $(document).on('submit', 'form[action="/delete_variable"]', function(e) {
        e.preventDefault();
        let variableToDelete = $(this).find('button[name="delete_variable"]').val();
        
        $.ajax({
            url: '/delete_variable',  
            type: 'POST',
            data: {variable_name: variableToDelete},
            success: function(response) {
                if (response.status == 'success') {
                    // Remove the deleted variable from the UI
                    $('span.variable-button:contains(' + variableToDelete + ')').remove();
                } else {
                    console.error("Failed to delete variable:", response.message);
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("AJAX Error:", textStatus, errorThrown);
            }
        });
    });

  
    // CKEditor setup
    CKEDITOR.replace('template_content', {
        removePlugins: 'exportpdf',
        extraPlugins: 'insertVariable',
            toolbar: [
                ['InsertVariable'],
                ['Bold', 'Italic', 'Underline', 'Strike'],
                ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'],
                ['Font', 'FontSize', 'TextColor', 'BGColor'],
                ['Undo', 'Redo']
            ]
    });

    // Custom CKEditor Plugin for inserting variables
            CKEDITOR.plugins.add('insertVariable', {
                init: function(editor) {
                    editor.ui.addRichCombo('InsertVariable', {
                        className: 'cke_button__insertvariable_label',
                        label: '+ Variable',
                        title: '+ Add variable',
                        toolbar: 'insert',
                        panel: {
                            css: [ CKEDITOR.skin.getPath('editor') ].concat(editor.config.contentsCss),
                            multiSelect: false,
                            attributes: { 'aria-label': 'Variables' }
                        },
                        init: function() {
                            var variables = {{ variables|tojson }};
                            for(var i = 0; i < variables.length; i++) {
                                this.add(variables[i], variables[i], variables[i]);
                            }
                        },
                        onClick: function(value) {
                            editor.insertText(value);
                        }
                    });
                }
            });
        });
  
</script>
{% endblock %}