{% extends "base.html" %}

{% block head %}
    <style>
        .variable-button {
            margin-right: 5px;
            display: inline-block;
        }

        .cke_button__insertvariable_label {
            background-color: green !important;
            color: #fff !important;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>New Template</h2>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="mt-4">
                {% for message in messages %}
                    <div class="alert alert-warning" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
      
    <!-- Nav tabs -->
    <ul class="nav nav-tabs mt-4" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="template-tab" data-toggle="tab" href="#template" role="tab">Template</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="variables-tab" data-toggle="tab" href="#variables" role="tab">Variables</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="publish-tab" data-toggle="tab" href="javascript:void(0);" role="tab">Publish</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content mt-4">
        <div class="tab-pane fade show active" id="template" role="tabpanel">
            <form action="/new_template" method="post">
                <div class="form-group">
                    <label for="template_name">Template Name:</label>
                    <input type="text" id="template_name" name="template_name" class="form-control" value="{{ template_name }}">
                </div>

                <div class="form-group">
                    <label for="template_content">Template Content:</label>
                    <textarea name="template_content" id="template_content" class="form-control">{{ saved_content|default('') }}</textarea>
                </div>

                <input type="submit" name="save_template" value="Save template" class="btn btn-primary">
            </form>
        </div>

        <div class="tab-pane fade" id="variables" role="tabpanel">
            <h4>Existing Variables:</h4>
            <div>
              {% for variable in variables %}
                <span class="variable-button btn btn-light">{{ variable }} 
                    <form style="display: inline;" action="/new_template" method="post">
                    <button type="submit" name="delete_variable" value="{{ variable }}" class="btn text-danger btn-sm">X</button>
                    </form>
                </span>
              {% endfor %}
            </div>
            <h4 class="mt-4">Add New Variable:</h4>
            <form action="/new_template" method="post" name="add_variable_form">  <!-- Added name attribute here -->
                <div class="form-group">
                    <input type="text" name="variable_name" class="form-control" placeholder="Enter variable e.g. [name]">
                </div>
                <input type="submit" name="add_variable" value="Add Variable" class="btn btn-secondary">
            </form>
        </div>

        <div class="tab-pane fade" id="publish" role="tabpanel">
            <!-- Content for Publish tab -->
        </div>
    </div>
</div>

    <script src="https://cdn.ckeditor.com/4.16.0/full/ckeditor.js"></script>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        // Check for the saved tab in local storage and activate it
        let activeTab = localStorage.getItem('activeTab');
        if(activeTab){
            $('.nav-tabs a[href="' + activeTab + '"]').tab('show');
        }

        // Store the current active tab in local storage
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });

        // CKEditor Initialization
        CKEDITOR.replace('template_content', {
            removePlugins: 'exportpdf',
            extraPlugins: 'insertVariable',
            toolbar: [
                ['InsertVariable'],  // Button at the start
                ['Bold', 'Italic', 'Underline', 'Strike'],
                ['NumberedList', 'BulletedList', '-', 'Outdent', 'Indent'],
                ['Font', 'FontSize', 'TextColor', 'BGColor'],
                ['Undo', 'Redo']
            ]
        });

        // Custom CKEditor Plugin for inserting variables
        CKEDITOR.plugins.add('insertVariable', {
            init: function(editor) {
                editor.ui.addRichCombo('InsertVariable', {
                    className: 'cke_button__insertvariable_label',
                    label: '+ Variable',
                    title: '+ Add variable',
                    toolbar: 'insert',
                    panel: {
                        css: [ CKEDITOR.skin.getPath('editor') ].concat(editor.config.contentsCss),
                        multiSelect: false,
                        attributes: { 'aria-label': 'Variables' }
                    },
                    init: function() {
                        var variables = {{ variables|tojson }};
                        for(var i = 0; i < variables.length; i++) {
                            this.add(variables[i], variables[i], variables[i]);
                        }
                    },
                    onClick: function(value) {
                        editor.insertText(value);
                    }
                });
            }
        });

            $.post('/new_template', $(this).serialize(), function(response) {
              console.log(response);
                if (response.status == 'success') {
                    // Add the variable to the UI
                    let variableButton = `
                        <span class="variable-button btn btn-light">${response.variable} 
                            <form style="display: inline;" action="/new_template" method="post">
                                <button type="submit" name="delete_variable" value="${response.variable}" class="btn text-danger btn-sm">X</button>
                            </form>
                        </span>`;
                    $("#variables .variable-button:last").after(variableButton);
                    $("input[name='variable_name']").val(''); // Clear the input
                    flashMessage(response.message, 'success');
                } else {
                    flashMessage(response.message, 'error');
                }
            });
        });
</script>
{% endblock %}