{% extends "base.html" %}

{% block sidebar %}
    {% include 'sidebar.html' %}
{% endblock %}

{% block head %}
    <style>
        .template-card {
            cursor: pointer;
            margin-bottom: 20px;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h2>Your templates</h2>

            <!-- If no templates exist, show message -->
            {% if templates|length == 0 %}
                <p class="text-center">You have no templates yet. Click on "Add New Template" to get started.</p>
            {% else %}
                <!-- Template cards view -->
                <div id="template-cards" class="row mt-4">
                    {% for template in templates %}
                    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                        <div class="card template-card">
                            <div class="card-body">
                                <h5 class="card-title">{{ template.template_name }}</h5>
                                <p class="card-text">{{ template.template_content|strip_tags|truncate(228, True)|safe }}</p>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-outline-danger delete-template" data-id="{{ template.id }}">Delete</button>
                                <a href="{{ url_for('edit_template', template_id=template.id) }}" class="btn btn-primary" style="float:right !important">Edit</a>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $(document).on('click', '.delete-template', function() {
            let templateID = $(this).attr('data-id');
            $.ajax({
                url: '/delete_template',
                type: 'POST',
                data: { template_id: templateID },
                success: function(response) {
                    if (response.status === 'success') {
                        // Remove the template card from the DOM
                        $(`.delete-template[data-id='${templateID}']`).closest('.col-lg-3').remove();
                    } else {
                        // Handle error
                        alert('Failed to delete template.');
                    }
                },
                error: function() {
                    // Handle error
                    alert('An error occurred.');
                }
            });
        });
    });
</script>
{% endblock %}