<div class="d-flex flex-column p-3 text-white bg-dark vh-100" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Programmatic SEO</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/new_template" class="nav-link text-white">
                <i class="fas fa-plus"></i>
                <span class="ms-2">Add New Template</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-white">
                <i class="fas fa-edit"></i>
                <span class="ms-2">Edit Template</span>
            </a>
        </li>
        <!-- Add more links as needed -->
    </ul>
</div>